<!--此页面用于放置页面的公共片段（fragment）-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="static">
    <!-- thymeleaf内联js-->
    <head>
        <script th:inline="javascript">
            //项目根路径
            // ctx = /*[[@{/}]]*/'';
            ctx = [[${#request.getContextPath()}]];//应用路径
        </script>
    </head>

    <!-- 引入公用库 -->
    <head>
        <script th:src="scripts/echarts.min.js"></script>
        <!-- Jquery -->
        <script th:src="scripts/jquery.js"></script>

        <!-- Layui -->
        <link th:href="layui/css/layui.css" rel="stylesheet" type="text/css"/>
        <script th:src="layui/layui.js"></script>

        <!--CryptoJS jsencrypt -->
        <script th:src="encrypt/cryptojs.js"></script>
        <script th:src="encrypt/jsencrypt.js"></script>
    </head>

    <!-- 最后引入common.js、common.css -->
    <head>
        <link th:href="css/common.css" rel="stylesheet" type="text/css"/>
        <script th:src="scripts/common.js"></script>
    </head>
</html>